<!DOCTYPE html>
<!--<a href='http://www.freepik.com/free-vector/crane-with-web-elements_845699.htm'>Designed by Freepik</a>
<a href="http://www.freepik.com/free-vector/web-designs-collection_1052922.htm">Designed by Freepik</a>-->
<html>
<head>
<title>Kevin Nolan's Portfolio</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">

<link href="bootstrap/css/united-bootstrap.min.css" rel="stylesheet">
<script src="bootstrap/js/bootstrap.min.js"></script>


<style>

* {
    box-sizing: border-box;
}

body,h1,h2,h3,h4,h5,h6 {
  font-family: "Lato", sans-serif;
}

body {
  /* This stops the content from slipping under the top banner*/
  padding-top: 40px;
  background-color: #eee;
}
.summary-font {
  font-weight:bold;
  font-size:20px;
}

.portf-entry {
  background: white;
  margin:20px;
  padding:0px;
}
.portf-entry p {
  padding: 5px;
}
.portf-entry:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transition-duration: 0.3s;
}
.portf-entry:active {
  box-shadow: 0 12px 16px 0 rgba(255,0,255,0.24), 0 17px 50px 0 rgba(255,0,255,0.19);
  transition-duration: 0s;

}

</style>

<body>


<!--*Navbar*-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <!--Hamburger button for small screens-->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#this-nav-bar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <!--Regular navbar otherwise-->
        <a class="navbar-brand" href = "#">Kevin Nolan</a>
      </div>
      <div class="collapse navbar-collapse" id="this-nav-bar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#portfolio">Portfolio</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
</nav>

<div class="container">

  <div class="row"  id="about">
    <h1>Kevin Nolan</h1>
    <h3>Web Developer</h3>
  </div>

  <div class="row" id="portfolio">
    <h2>Portfolio</h2>
    <%
    let portfElems = [
      {
        title: "Pizza Playground", size: 6, img: "https://placehold.it/400x200/f9f.png",
        desc: "Pick your favourite pizza toppings, vote for them and see which are everyone's faourites. Both Pizza Playground and this website are a complete server setup deployed via Heroku.",
        techUsed: "HTML/CSS/JS, NodeJS, Express, EQS, MongoDB", goTo: "", source: ""
      },
      {
        title: "Simon", size: 3, img: "https://placehold.it/400x200/f9f.png",
        desc: "Test your memory with this classic 80s game",
        techUsed: "HTML/CSS/JS, Bootstrap", goTo: "", source: ""
      }, 
      {
        title: "Tic Tac Toe", size: 3, img: "https://placehold.it/400x200/f9f.png",
        desc: "The only winning move is not to play. But have a go anyway!",
        techUsed: "HTML/CSS/JS, Bootstrap", goTo: "", source: ""
      }, 
      {
        title: "Glass Calculator", size: 3, img: "https://placehold.it/400x200/f9f.png",
        desc: "Works best on desktop PCs. Works with both keyboard and mouse.",
        techUsed: "HTML/CSS/JS, Bootstrap", goTo: "", source: ""
      }, 
      {
        title: "Weather", size: 3, img: "https://placehold.it/400x200/f9f.png",
        desc: "A tear-out from an old newspaper that tells you the weather today!",
        techUsed: "HTML/CSS/JS, JQuery, Open Weather API", goTo: "", source: ""
      },
      {
        title: "Pizza Pomodoro", size: 3, img: "https://placehold.it/400x200/f9f.png",
        desc: "A pomodoro timer that assembles a pizza while you wait!",
        techUsed: "HTML/CSS/JS", goTo: "", source: ""
      }

    ];
    
    // Portfolio elements
    portfElems.forEach((elem,ind) =>{
      %>
      <div class="col-xs-<%=elem.size%> portf-entry">
        <a href=# data-toggle="modal" data-target="#portf-<%=ind%>">
          <img src="<%=elem.img%>" class="img-responsive">
          <p><%=elem.title%></p>
        </a>
      </div>
      <%
    });

    // Element modals
    portfElems.forEach((elem,ind) =>{
      %>
      <div class="modal fade" id="portf-<%=ind%>" role="dialog">
        <div class="modal-dialog">        
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title"><%=elem.title%></h4>
            </div>
            <div class="modal-body">
              <img src="<%=elem.img%>" class="img-responsive">
              <p><%=elem.desc%></p>
              <p><b>Uses:</b> <%=elem.techUsed%></p>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Play</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">GitHub</button>
            </div>
          </div>
        </div>
      </div>
      <%
    });
    %>


  <div class="row"  id="about">
    <div class="col-xs-12">
      <h2>About</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8">
      <p>I'm a web developer. More information forthcoming.</p>
      <p>Mauris imperdiet elementum tincidunt</p>
      <p>Mauris imperdiet elementum tincidunt</p>
      <p>Mauris imperdiet elementum tincidunt</p>
      <p>Mauris imperdiet elementum tincidunt</p>
    </div>
    <div class="col-xs-3 pull-middle">
      <img src="https://placehold.it/150x150/f9f.png" class="img-responsive">
                  
    </div>
  </div>

  <div class="row" id="contact">
    <h2>Contact Me</h2>
      <div class="col-xs-6 pull-middle" style="min-width:300px;">
      <h3>Send me an email</h3>
      <form action="mailto:kevin@kngamesdesign.com" method="post" enctype="text/plain">
        Name:<br>
        <input type="text" name="Your name"><br>
        E-mail:<br>
        <input type="email" name="Your email address"><br>
        Your message:<br>
        <input type="text" name="comment" size="50"><br><br>
        <input type="submit" class="btn btn-primary" value="Send">
        <input type="reset" value="Reset" class="btn btn-primary">
      </form>        
    </div>
    <div class="col-xs-6 pull-middle" style="min-width:300px;">
      <h3>My Social Media</h3>
      <button onclick="location.href='https://uk.linkedin.com/in/kngam';" type="button" class="btn btn-primary btn-contact"><i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn</button>
      <button onclick="location.href='https://github.com/betaalpha987';" type="button" class="btn btn-primary btn-contact"><i class="fa fa-github" aria-hidden="true"></i> GitHub</button>
    </div>
  </div>

</div>
  
</body>
  
<script>
function goToElement(goToElement) {
  // Requires jQuery
  $('html, body').animate({
    scrollTop: $(goToElement).offset().top-40
  }, 1000);
}

</script>

</body>
</html>
